.wrapper {
    padding: 20px;
}

.backIcon {
    cursor: pointer;
    padding: 10px 14px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    color: black;
    font-size: 1rem;
    font-weight: 1rem;
    margin-bottom: 1.2rem;
}