// .container {}

.upload {
    padding: 20px;
    border: 2px dotted #ccc;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
    align-items: center;
}